<table mat-table [dataSource]="diplomas">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="dateOfDefence">
    <th mat-header-cell *matHeaderCellDef> Date of defence </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfDefence}} </td>
  </ng-container>

  <ng-container matColumnDef="diplomaType">
    <th mat-header-cell *matHeaderCellDef> Diploma Type </th>
    <td mat-cell *matCellDef="let element"> {{element.diplomaType}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
