.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.user-info-item {
  margin-bottom: 8px;
}

.user-info-item span:nth-of-type(2) {
  font-weight: bold;
  margin-left: 0.5rem;

}
